{% extends "./base.html" %}
{% load static %}
{% load humanize %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" id="style">
{% endblock %}

{% block body %}
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="fotos carousel-item active">
      <img src="{% static 'img/10001_1.png' %}" class="d-block w-100"  alt="">
    </div>
    <div class="fotos carousel-item">
      <img src="{% static 'img/2002.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="fotos carousel-item">
      <img src="{% static 'img/3002.png' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div>
  <h2 class="textocentro text-center">Algunos de nuestros productos</h2>
</div>

<div class="container-items">
  {% for p in cate_teclados %}
  <div class="item">
    <figure>
      <img
        src="{{ p.imagen_url.url }}"
        alt="{{ p.nombre }}"
      />
    </figure>
    <div class="info-product">
      <h2>{{ p.nombre }}</h2>
      <p class="price">${{ p.precio|floatformat:0|intcomma }}</p>
      {% if not request.user.is_authenticated %}
        <button class="btn btn-primary liveToastBtn" type="button" data-bs-toggle="toast" data-bs-target="#liveToast">Agregar al carrito</button>
      {% else %}
        {% if p.stock > 0 %}
          <form method="POST" action="{% url 'agregar_al_carrito' %}">
            {% csrf_token %}
            <input type="hidden" name="sku" value="{{ p.sku }}">
            <button type="submit" class="btn btn-primary liveToastBtn" data-bs-toggle="toast" data-bs-target="#liveToast">Añadir al carrito</button>
          </form>
        {% else %}
        <p class="card-text">Agotado</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
<div class="container-items">
  {% for p in cate_switches %}
  <div class="item">
    <figure>
      <img
        src="{{ p.imagen_url.url }}"
        alt="{{ p.nombre }}"
      />
    </figure>
    <div class="info-product">
      <h2>{{ p.nombre }}</h2>
      <p class="price">${{ p.precio|floatformat:0|intcomma }}</p>
      {% if not request.user.is_authenticated %}
        <button class="btn btn-primary liveToastBtn" type="button" data-bs-toggle="toast" data-bs-target="#liveToast">Agregar al carrito</button>
      {% else %}
        {% if p.stock > 0 %}
          <form method="POST" action="{% url 'agregar_al_carrito' %}">
            {% csrf_token %}
            <input type="hidden" name="sku" value="{{ p.sku }}">
            <button type="submit" class="btn btn-primary liveToastBtn" data-bs-toggle="toast" data-bs-target="#liveToast">Añadir al carrito</button>
          </form>
        {% else %}
        <p class="card-text">Agotado</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
  </div>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Debes iniciar sesión primero</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Por favor, inicia sesión para agregar productos al carrito.
    </div>
  </div>
</div>

</body>
{% endblock %}


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
<script>
  var stylewhite = "{% static 'css/styles.css' %}";
  var styledark = "{% static 'css/stylesdark.css' %}";
</script>
<script src="{% static 'js/toast.js' %}"></script>
<script src="{% static 'js/reloj.js' %}"></script>
{% endblock %}

{% block footer %}

{% endblock %}
