{% extends "./base.html" %}
{% load static %}
{% load humanize %}


{% block head %}
  <link rel="stylesheet" type="text/css" href="static/css/styles.css" id="style">
{% endblock %}


{% block body %}

<title>Teclados</title>
<h2 class="Subtitulos text-center pt-3">TECLADOS</h2>
<hr>

<div class="container mt-5">
  <div class="row">
    {% for teclado in cate_teclados %}
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
        <div class="card h-100">
          <img src="{{ teclado.imagen_url.url }}" class="card-img-top" alt="{{ teclado.nombre }}">
          <div class="card-body">
            <h5 class="card-title"><b>{{ teclado.nombre }}</b></h5>
            <p class="card-text price">${{ teclado.precio|floatformat:0|intcomma }}</p>
            {% if not request.user.is_authenticated %}
              <button class="btn btn-dark liveToastBtn" type="button" data-bs-toggle="toast" data-bs-target="#liveToast">Agregar al carrito</button>
            {% else %}
              {% if teclado.stock > 0 %}
                <form method="POST" action="{% url 'agregar_al_carrito' %}">
                  {% csrf_token %}
                  <input type="hidden" name="sku" value="{{ teclado.sku }}">
                  <button type="submit" class="btn btn-primary liveToastBtn" data-bs-toggle="toast" data-bs-target="#liveToast">Añadir al carrito</button>
                </form>
              {% else %}
                <p class="card-text">Agotado</p>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>




<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Debes iniciar sesión primero</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Por favor, inicia sesión para agregar productos al carrito.
    </div>
  </div>
</div>
<hr>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
<script src="{% static 'js/toast.js' %}"></script>
{% endblock %}

{% block footer %}

{% endblock%}

